{% extends 'layout.html' %}

{% block body %}

<h1>Reservation Summary</h1>
<h3>Last chance to edit your reservation!</h3>
<h4><small>Page 4 out of 4</small></h4>
<a class='btn btn-warning' href='/search_room'>Start Over</a><p></p>
<p></p>
<h4><i>Hotel:</i> {{hotel.hotel_name}}, {{hotel.address}}, {{hotel.city}}, {{hotel.state}}, {{hotel.country}}</h4>
<h4><i>Check-In Date:</i> {{summ.check_in}}</h4>
<h4><i>Check-Out Date:</i> {{summ.check_out}}</h4>
<h4><i>Number of Days:</i> {{summ.num_days}}</h4>
<h4><i>Room Numbers: </i> {{summ.room_nums}}</h4>
<h4><i>Breakfast Orders</i> {{summ.breakfasts}}</h4>
<h4><i>Service Orders</i> {{summ.services}}</h4>
<h4><i>TOTAL COST:</i> ${{summ.cost}}</h4>
<p></p>
{% from 'includes/_formhelpers.html' import render_field %}
<form method='POST' action="">
    <p><input class="btn btn-primary" type="submit" value="Make Reservation"></p>
</form>

{% endblock %}