{% extends 'layout.html' %}

{% block body %}

<h1>About Us</h1>
<p style="font-size:20px">As the most recognized name in the industry, travelers all over the world have been saying &#39;Take me to the Hulton&#39; for almost a century. And because of our innovative approach to products, amenities and service, Hulton continues to be synonymous with hotel across the globe. Hulton Hotels &amp; Resorts remains the stylish, forward thinking global leader of hospitality – and we help make traveling easier with our smart design, innovative restaurant concepts, authentic hospitality and commitment to the global community.</p>

<h3>Step 1: Make an account and login</h3>
<h3>Step 2: Make a Reservation</h3>
<h3>Step 3: Enjoy your stay with us</h3>
<h3>Step 4: Write us a great review!</h3>

{% endblock %}